<div class="page-header" filter-color="orange" style="min-height: 80vh;" [ngClass]="{'not-read' : cargador ? true : false}">
  <div class="page-header-image" style="background-image:url(assets/img/bgLogin.jpg)"></div>
  <div class="container">
    <div class="content-center my-5 my-5 mt-md-0">
      <div class="row d-block my-5 my-md-0 d-md-flex justify-content-md-center">
        <div class="col-12 col-md-7">
          <div class="card card-login card-plain">
            <div class="header header-primary text-center">
              <div>
                <img class="col-md-14" src="assets/img/tato_logo.svg" alt="">
              </div>
            </div>
            <br>
            <form class="form form-row" [formGroup]="formulario" [ngClass]="{'was-validated': validaFormulario}">
              <div class="col-12 col-md-6 form-group form-group-no-border mt-2">
                <input type="tel" formControlName="documento" required class="form-control rounded-pill text-white"
                  autocomplete="off" (keypress)="soloNumeros($event)" pattern="^[0-9]*$" placeholder="Nro documento" />
                <div class="errores text-left pl-3">
                  <div class="custom-error" *ngIf="f.documento.errors?.required && f.documento.touched">Nro documento es
                    requerido</div>
                </div>
              </div>
              <div class="col-12 col-md-6 form-group form-group-no-border mt-2">
                <input type="tel" formControlName="telefono" required placeholder="Teléfono" autocomplete="off"
                  pattern="^[0-9]*$" (keypress)="soloNumeros($event)" class="form-control rounded-pill text-white" />
                <div class="errores text-left pl-3">
                  <div class="custom-error" *ngIf="f.telefono.errors?.required && f.telefono.touched">Teléfono es
                    requerido</div>
                </div>
              </div>

              <div class="col-12 col-md-6 form-group form-group-no-border mt-2">
                <input type="text" formControlName="nombres" required autocomplete="off"
                  class="form-control rounded-pill text-white" placeholder="Nombres" />
                <div class="errores text-left pl-3">
                  <div class="custom-error" *ngIf="f.nombres.errors?.required && f.nombres.touched">Nombres es requerido
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 form-group form-group-no-border mt-2">
                <input type="text" formControlName="apellidos" required autocomplete="off" placeholder="Apellidos"
                  class="form-control rounded-pill text-white" />
                <div class="errores text-left pl-3">
                  <div class="custom-error" *ngIf="f.apellidos.errors?.required && f.apellidos.touched">Apellidos es
                    requerido</div>
                </div>
              </div>

              <div class="col-12 form-group form-group-no-border mt-2">
                <input type="email" class="form-control rounded-pill text-white" autocomplete="off"
                  formControlName="correo" required placeholder="Correo electrónico" />
                <div class="errores text-left pl-3">
                  <div class="custom-error" *ngIf="f.correo.errors?.required && f.correo.touched">Correo electrónico es
                    requerido</div>
                  <div class="custom-error" *ngIf="f.correo.errors?.email && f.correo.touched">Correo electrónico
                    inválido</div>
                </div>
              </div>

              <div class="col-12 form-group form-group-no-border mt-2">
                <input type="text" class="form-control rounded-pill text-white" autocomplete="off"
                  formControlName="direccion" required placeholder="Dirección de su casa" />
                <div class="errores text-left pl-3">
                  <div class="custom-error" *ngIf="f.correo.errors?.required && f.correo.touched">Dirección de su casa
                    es requerida</div>
                </div>
              </div>

              <div class="col-12 col-md-6 form-group form-group-no-border mt-2">
                <input type="password" formControlName="password" class="form-control rounded-pill text-white" required
                  autocomplete="new-password" placeholder="Contraseña" />
                <div class="errores text-left pl-3">
                  <div class="custom-error" *ngIf="f.password.errors?.required && f.password.touched">Contraseña es
                    requerido</div>
                </div>
              </div>

              <div class="col-12 col-md-6 form-group form-group-no-border mt-2">
                <input type="password" formControlName="rePassword" autocomplete="new-password"
                  class="form-control rounded-pill text-white" required placeholder="Confirmar contraseña" />
                <div class="errores text-left pl-3">
                  <p class="custom-error mb-0" *ngIf="f.rePassword.errors?.required && f.rePassword.touched">Confirmar
                    contraseña</p>
                  <div class="custom-error" *ngIf="f.rePassword.value != f.password.value">Las contraseñas no coinciden
                  </div>
                </div>
              </div>

              <div class="col-12 form-group form-group-no-border mt-3">
                <button type="button" name="btnRegistro" class="btn btn-primary btn-round btn-lg btn-block"
                  (click)="registrar()">
                  CREAR CUENTA <i class="fas fa-sign-in-alt"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer class="d-block d-md-none"></app-footer>
  <footer class="footer d-none d-md-block">
    <div class="container">
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Diseñador por
        <a href="https://instagram.com/kingcordoba" target="_blank">Mateo</a>. Codificado por
        <a href="https://instagram.com/anthonyurrego" target="_blank">Anthony</a>.
      </div>
    </div>
  </footer>
</div>
<app-loader [encender]="cargador" [mensaje]="mensajeCargador"></app-loader>