<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(assets/img/bg11.jpg)"></div>
  <div class="container">
    <div class="content-center">
      <div class="row justify-content-center">
        <div class="col-12 col-md-7">
          <div class="card card-login card-plain">
            <form class="form" method="" action="">
              <div class="header header-primary text-center">
                <div>
                  <img class="col-md-14" src="assets/img/tato_logo.png" alt="">
                </div>
              </div>
              <br>
              <div class="content">
                <div class="input-group form-group-no-border input-group-lg" [ngClass]="{'input-group-focus':focus===true}">
                  <input type="text" class="form-control rounded-pill" placeholder="Nombre de Usuario" (focus)="focus=true" (blur)="focus=false" >
                </div>
                <div class="input-group form-group-no-border input-lg input-group-lg" [ngClass]="{'input-group-focus':focus1===true}">
                  <input type="password" placeholder="Contraseña" class="form-control rounded-pill" (focus)="focus1=true" (blur)="focus1=false"/>
                </div>
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-danger btn-round btn-lg btn-block">ACCEDER</a>
                <h6>
                  <a href="#pablo" class="btn btn-primary btn-round btn-lg btn-block">CREAR CUENTA</a>
                </h6>
              </div>
              <div class="pull-left"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Diseñador por
        <a href="https://instagram.com/kingcordoba" target="_blank">Mateo</a>. Codificado por
        <a href="https://instagram.com/anthonyurrego" target="_blank">Anthony</a>.
      </div>
    </div>
  </footer>
</div>
