<div class="page-header" filter-color="orange" [ngClass]="{'not-read' : cargador ? true : false}">
  <div class="page-header-image" style="background-image:url(assets/img/bgLogin.jpg)"></div>
  <div class="container">
    <div class="content-center my-5 my-5 mt-md-0">
      <div class="row d-block my-5 my-md-0 d-md-flex justify-content-md-center">
        <div class="col-12 col-md-6 " style="margin-top: 76px;">
          <div class="card card-login card-plain">
            <form class="form form-row" [formGroup]="formulario" [ngClass]="{'was-validated': validaFormulario}">
              <div class="col-12 col-md-6 form-group form-group-no-border mt-2">
                <input type="tel" formControlName="nro_documento" required class="form-control rounded-pill text-white" autocomplete="off" (keypress)="soloNumeros($event)" pattern="^[0-9]*$" placeholder="Nro Documento" />
                <div class="errores text-left pl-3">
                  <div class="custom-error" *ngIf="f.nro_documento.errors?.required && f.nro_documento.touched">Nro documento es requerido</div>
                </div>
              </div>
              <div class="col-12 col-md-6 form-group form-group-no-border mt-2">
                <input type="tel" formControlName="telefono" required placeholder="Teléfono" autocomplete="off" pattern="^[0-9]*$" (keypress)="soloNumeros($event)" class="form-control rounded-pill text-white" />
                <div class="errores text-left pl-3">
                  <div class="custom-error" *ngIf="f.telefono.errors?.required && f.telefono.touched">Teléfono es requerido</div>
                </div>
              </div>

              <div class="col-12 col-md-6 form-group form-group-no-border mt-2">
                <input type="text" formControlName="nombres" required autocomplete="off" class="form-control rounded-pill text-white" placeholder="Nombres" />
                <div class="errores text-left pl-3">
                  <div class="custom-error" *ngIf="f.nombres.errors?.required && f.nombres.touched">Nombres es requerido</div>
                </div>
              </div>

              <div class="col-12 col-md-6 form-group form-group-no-border mt-2">
                <input type="text" formControlName="apellidos" required autocomplete="off" placeholder="Apellidos" class="form-control rounded-pill text-white" />
                <div class="errores text-left pl-3">
                  <div class="custom-error" *ngIf="f.apellidos.errors?.required && f.apellidos.touched">Apellidos es requerido</div>
                </div>
              </div>

              <div class="col-12 form-group form-group-no-border mt-2">
                <input type="text" class="form-control rounded-pill text-white" autocomplete="off" formControlName="direccion" required placeholder="Dirección" />
                <div class="errores text-left pl-3">
                  <div class="custom-error" *ngIf="f.direccion.errors?.required && f.direccion.touched">Dirección de su casa es requerida</div>
                </div>
              </div>
            
              <div class="custom-control custom-checkbox col-12 form-group form-group-no-border mt-2 text-left pl-5">
                <input type="checkbox" formControlName="check" required class="custom-control-input" id="defaultUnchecked">
                <label class="custom-control-label" for="defaultUnchecked">
                  Acepto <a href="#modalTerminos" data-toggle="modal">Términos y Condiciones</a>
                </label>
                <div class="errores text-left">
                  <div class="custom-error mb-0" *ngIf="f.check.errors?.required && f.check.touched">Debes de aceptar los términos</div>
                </div>
              </div>
              <div class="col-12 form-group form-group-no-border mt-3">
                <button type="button" name="btnRegistro" [disabled]="!formulario.valid" class="btn btn-primary btn-round btn-lg btn-block" (click)="realizarPedido()">
                  REALIZAR PEDIDO <i class="fas fa-shopping-cart"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-12 col-md-6 overflow-auto" style="margin-top: 76px; max-height: 40vh !important;">
          <table class="table" *ngIf="newProductos.length ; else noProductos">
            <thead>
              <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Nombre</th>
                <th scope="col">Valor unitario</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pro of newProductos; let i = index">
                <td>
                  <div class="input-group">
                    <input type="number" class="form-control text-center" disabled="true" min="0" max="30" step="0" [value]="pro['cantidad']">
                  </div>
                </td>
                <td>{{pro['nombre']}}</td>
                <td>{{pro['precio']}}</td>
                <td>{{pro['precio'] * pro['cantidad']}}</td>
              </tr>
              <tr class="font-weight-bold">
                <td colspan="3" class="text-center">Total</td>
                <td>{{this.total}}</td>
              </tr>
            </tbody>
          </table>
                            
          <ng-template #noProductos>
            <div class="col-12">
              {{ 'no Hay productos en el carrito' | titlecase }}    
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
        <div class="copyright">
          &copy;
          {{data | date: 'yyyy'}}, Diseñador por
          <a href="https://instagram.com/kingcordoba" target="_blank">Mateo</a>. Codificado por
          <a href="https://instagram.com/anthonyurrego" target="_blank">Anthony</a>.
        </div>
    </div>
  </footer>
</div>
<app-loader [encender]="cargador" [mensaje]="mensajeCargador"></app-loader>
