<!-- Content Header (Page header) -->
<div div class="content-header">
  <div class="container-fliud">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">{{titulo}}</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{listaClientes.length}}</h3>
            <p>Clientes registrados</p>
          </div>
          <div class="icon">
            <i class="fas fa-users"></i>
          </div>
          <a [routerLink]="['usuarios']" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{listaUsuarios.length}}</h3>
            <p>Ususarios</p>
          </div>
          <div class="icon">
            <i class="fas fa-user-tie"></i>
          </div>
          <a [routerLink]="['usuarios']" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{listaPlatos.length}}</h3>
            <p>Platos</p>
          </div>
          <div class="icon">
            <i class="fas fa-hamburger"></i>
          </div>
          <a [routerLink]="['platos']" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{listaPromo.length}}</h3>
            <p>Promociones</p>
          </div>
          <div class="icon">
            <i class="fas fa-star"></i>
          </div>
          <a [routerLink]="['platos']" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-primary">
          <div class="inner">
            <h3>{{listaDia.length}}</h3>
            <p>Platos del día</p>
          </div>
          <div class="icon">
            <i class="fas fa-drumstick-bite"></i>
          </div>
          <a [routerLink]="['platos']" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-secondary">
          <div class="inner">
            <h3>{{listaPedidos.length}}</h3>
            <p>Pedidos</p>
          </div>
          <div class="icon">
            <i class="fas fa-shopping-cart"></i>
          </div>
          <a [routerLink]="['pedidos']" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</section>