<!-- Content Header (Page header) -->
<div div class="content-header">
  <div class="container-fliud">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">{{titulo}}</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header d-flex justify-content-end">
        <button class="btn btn-success" data-target="#modalCrearUsuario" data-toggle="modal"><i class="fas fa-user-plus"></i></button>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-bordered table-hover w-100">
          <thead class="thead-light">
            <tr>
              <th>Nro documento</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Correo</th>
              <th>Teléfono</th>
              <th>Perfil</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of listUsuarios">
              <td>{{usuario['nro_documento']}}</td>
              <td>{{usuario['nombres']}}</td>
              <td>{{usuario['apellidos']}}</td>
              <td>{{usuario['correo']}}</td>
              <td>{{usuario['telefono']}}</td>
              <td>{{usuario['perfil']}}</td>
              <td class="d-flex justify-content-center">
                <button class="btn btn-primary mx-1" (click)="btnEditarUsusario(usuario)"><i class="fas fa-user-edit"></i></button>
                <button class="btn btn-info mx-1" (click)="btnPermisos(usuario)"><i class="fas fa-lock"></i></button>
                <button class="btn btn-danger mx-1" (click)="elminarUsuario(usuario)"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<app-loader [encender]="cargador" [mensaje]="mensajeCargador"></app-loader>
<!-- /.content -->
<!-- Modal Crear Usuario -->
<div class="modal fade" id="modalCrearUsuario" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-user-plus"></i> Crear usuario</h5>
      </div>
      <form id="formularioCrear" [formGroup]="formularioCrear" [ngClass]="{'was-validated': formularioCrearValidar}" autocomplete="off" (ngSubmit)="crearUsuario()">
        <input type="hidden" formControlName="creador" value="0">
        <div class="modal-body">
          <div class="form-group">
            <label for="">Tipo Perfil</label>
            <select formControlName="perfil" required class="custom-select">
              <option value="1">Adminitrador</option>
              <option value="2">Usuario</option>
            </select>
            <div class="errores text-left">
              <div class="custom-error" *ngIf="f.perfil.errors?.required && f.perfil.touched">Nro documento es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="usuario">Nro documento <span class="text-danger">*</span></label>
            <input type="text" formControlName="documento" class="form-control" (keypress)="soloNumeros($event)" pattern="^[0-9]*$" placeholder="Escriba un documento" required autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="f.documento.errors?.required && f.documento.touched">Nro documento es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="nombre">Nombres <span class="text-danger">*</span></label>
            <input type="text" formControlName="nombres" class="form-control" placeholder="Escriba los nombres" required autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="f.nombres.errors?.required && f.nombres.touched">Nombres es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="apellidos">Apellidos <span class="text-danger">*</span></label>
            <input type="text" formControlName="apellidos" class="form-control" placeholder="Escriba los apellidos" required autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="f.apellidos.errors?.required && f.apellidos.touched">Apellidos es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="correo">Correo <span class="text-danger">*</span></label>
            <input type="email" formControlName="correo" class="form-control" required placeholder="Escriba un correo" autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="f.correo.errors?.required && f.correo.touched">Correo electrónico es requerido</div>
              <div class="custom-error" *ngIf="f.correo.errors?.email && f.correo.touched">Correo electrónico inválido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="direccion">Direccion <span class="text-danger">*</span></label>
            <input type="text" formControlName="direccion" class="form-control" required placeholder="Escriba una direccion" autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="f.direccion  .errors?.required && f.direccion.touched">Dirección de su casa es requerida</div>
            </div>
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono <span class="text-danger">*</span></label>
            <input type="tel" formControlName="telefono" class="form-control" (keypress)="soloNumeros($event)" pattern="^[0-9]*$" required placeholder="Escriba una teléfono" autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="f.telefono.errors?.required && f.telefono.touched">Teléfono es requerido</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="pass">Contraseña <span class="text-danger">*</span></label>
            <input type="password" formControlName="password" class="form-control" placeholder="Escriba una contraseña" required autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="f.password.errors?.required && f.password.touched">Contraseña es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="rePass">Confirmar contraseña <span class="text-danger">*</span></label>
            <input type="password" formControlName="rePassword" class="form-control" placeholder="Confirma la contraseña" required autocomplete="off">
            <div class="errores text-left">
              <p class="custom-error mb-0" *ngIf="f.rePassword.errors?.required && f.rePassword.touched">Confirmarcontraseña</p>
              <div class="custom-error" *ngIf="f.rePassword.value != f.password.value">Las contraseñas no coinciden</div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" id="btnCrearUsuarioCerrar" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cerrar</button>
          <button type="submit" id="btnCrearUsuario" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Crear</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Editar Usuario -->
<div class="modal fade" id="modalEditarUsuario" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-user-edit"></i> Editar usuario</h5>
      </div>
      <form id="formularioEditar" [formGroup]="formularioEditar" [ngClass]="{'was-validated': formularioEditarValidar}" autocomplete="off" (ngSubmit)="editarUsuario()">
        <div class="modal-body">
          <div class="form-group">
            <label for="">Tipo Perfil</label>
            <select formControlName="perfil" required class="custom-select">
              <option value="1">Adminitrador</option>
              <option value="2">Usuario</option>
            </select>
            <div class="errores text-left">
              <div class="custom-error" *ngIf="fe.perfil.errors?.required && fe.perfil.touched">Nro documento es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="usuario">Nro documento <span class="text-danger">*</span></label>
            <input type="text" formControlName="documento" class="form-control" (keypress)="soloNumeros($event)" pattern="^[0-9]*$" placeholder="Escriba un documento" required autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="fe.documento.errors?.required && fe.documento.touched">Nro documento es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="nombre">Nombres <span class="text-danger">*</span></label>
            <input type="text" formControlName="nombres" class="form-control" placeholder="Escriba los nombres" required autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="fe.nombres.errors?.required && fe.nombres.touched">Nombres es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="apellidos">Apellidos <span class="text-danger">*</span></label>
            <input type="text" formControlName="apellidos" class="form-control" placeholder="Escriba los apellidos" required autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="fe.apellidos.errors?.required && fe.apellidos.touched">Apellidos es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="correo">Correo <span class="text-danger">*</span></label>
            <input type="email" formControlName="correo" class="form-control" required placeholder="Escriba un correo" autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="fe.correo.errors?.required && fe.correo.touched">Correo electrónico es requerido</div>
              <div class="custom-error" *ngIf="fe.correo.errors?.email && fe.correo.touched">Correo electrónico inválido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="direccion">Direccion <span class="text-danger">*</span></label>
            <input type="text" formControlName="direccion" class="form-control" required placeholder="Escriba una direccion" autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="fe.direccion.errors?.required && fe.direccion.touched">Dirección de su casa es requerida</div>
            </div>
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono <span class="text-danger">*</span></label>
            <input type="tel" formControlName="telefono" class="form-control" (keypress)="soloNumeros($event)" pattern="^[0-9]*$" required placeholder="Escriba una teléfono" autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="fe.telefono.errors?.required && fe.telefono.touched">Teléfono es requerido</div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" id="btnEditarUsuarioCerrar" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cerrar</button>
          <button type="submit" id="btnEditarUsuario" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Editar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal Editar Usuario -->
<div class="modal fade" id="modalPermisos" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-lock"></i> Permisos | {{usuarioPermiso}}</h5>
      </div>
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>
