<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/fondos/bg1.jpeg');"></div>
    <div class="container">
      <div class="content-center brand">
        <img class="col-md-10" src="assets/img/tato_logo.svg" alt="">
        <p></p>
        <h1></h1>
        <h3>Más de una década llevando experiencias tu paladar</h3>
        <h6 class="category category-absolute mt-5">Desde Pereira Para el Mundo</h6>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="section section-images">
      <div class="container">
        <div class="title">
          <div class="alert alert-danger" role="alert">
            <h4 style="text-align: center;">
              AQUÍ ESTÁ!
              <P>Este es el especial del día...</P>  
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="section" id="carousel">
      <div class="container">
        <div class="title">
          <div class="alert alert-warning" role="alert">
            <h4 style="text-align: center;">
              NUESTROS PLATOS PRINCIPALES
            </h4>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-10">
            <div id="sliderTopPlatos" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let pro of imagenesSlider; let i = index" [ngClass]="{active: i == 0}">
                  <img class="d-block w-100" src="{{pro['img']}}">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="badge badge-danger">{{pro['nombre']}}</h5><br>
                    <p class="badge badge-danger">{{pro['descripcion']}}</p><br>
                    <button class="btn btn-danger btn-sm btn-round" (click)="addProducto(pro)"><i class="fas fa-cart-plus"></i> Agregar</button>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#sliderTopPlatos" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
              </a>
              <a class="carousel-control-next" href="#sliderTopPlatos" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>        
</div>
