<div div class="content-header">
  <div class="container">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="m-0 text-dark">{{titulo}}</h1>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container">
    <div class="card">
      <div class="card-header d-flex justify-content-end">
        <button class="btn btn-success" data-target="#modalCrearPlato" data-toggle="modal"><i
            class="fas fa-plus"></i></button>
      </div>
      <div class="card-body">
        <table #idTabla datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="row-border hover table table-bordered table-hover w-100">
          <thead class="thead-light">
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Creador</th>
              <th>Plato del día</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let platos of listaPlatos">
              <td>{{platos['nombre']}}</td>
              <td>{{platos['descripcion']}}</td>
              <td>{{platos['precio']}}</td>
              <td>{{platos['fk_creador']}}</td>
              <td>{{platos['plato_dia'] ? 'Activo' : 'Inactivo'}}</td>
              <td>
                <button class="btn btn-primary mx-1" (click)="editarPlato(platos)"><i class="far fa-edit"></i></button>
                <button class="btn btn-info"><i class="fas fa-drumstick-bite"></i></button>
                <button class="btn btn-danger mx-1" (click)="elminarPlato(platos)"><i
                    class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="modalCrearPlato" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-utensils"></i> Crear plato</h5>
      </div>
      <form id="formularioCrear" autocomplete="off" [formGroup]="formulario" (ngSubmit)="guardarPlato()"
        [ngClass]="{'was-validated': formularioCrearValidar}">
        <div class="modal-body">
          <div class="form-group">
            <label for="usuario">Nombre <span class="text-danger">*</span></label>
            <input type="text" formControlName="nombre" class="form-control" placeholder="Escriba un nombre del plato"
              required autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="f.nombre.errors?.required && f.nombre.touched">Nombres es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="nombre">Descripción <span class="text-danger">*</span></label>
            <input type="text" formControlName="descripcion" class="form-control"
              placeholder="Escriba la descripción del plato" required autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="f.descripcion.errors?.required && f.descripcion.touched">Descripción es
                requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="apellidos">Precio <span class="text-danger">*</span></label>
            <input type="number" formControlName="precio" class="form-control" placeholder="Escriba el precio del plato"
              required autocomplete="off">
            <div class="errores text-left">
              <div class="custom-error" *ngIf="f.precio.errors?.required && f.precio.touched">Precio es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="apellidos">Imagen</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02">
              <label class="custom-file-label" for="inputGroupFile02"
                aria-describedby="inputGroupFileAddon02">Escoger...</label>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button (click)="limpiarFormulario()" id="btnCrearModalCrear" type="button" class="btn btn-secondary"
            data-dismiss="modal"><i class="fas fa-times"></i> Cerrar</button>
          <button id="btnCrear" type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i>
            {{ platoEditarSeleccionado ? 'Modificar' : 'Crear'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>